@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-animate-slide-in {
    overflow: hidden;
    animation: slideIn 0.5s ease-in-out forwards;
  }
  @keyframes slideIn {
    from {
      max-width: 10rem;
    }
    to {
      min-width: 15rem;
      max-width: 15rem;
      justify-content: start;
    }
  }
  .sidebar-animate-slide-out {
    overflow: hidden;
    animation: slideOut 0.5s ease-in-out forwards;
  }
  @keyframes slideOut {
    from {
      min-width: 15rem;
    }
    to {
      max-width: 5rem;
      min-width: 5rem;
      justify-content: center;
    }
  }
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  @keyframes fadeIn {
    from {
      display: none;
      opacity: 0;
      width: 0;
    }
    to {
      display: inline;
      opacity: 1;
      width: max-content;
    }
  }
  .animate-fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
  }
  @keyframes fadeOut {
    from {
      display: inline;
      opacity: 1;
      width: max-content;
    }
    to {
      display: none;
      opacity: 0;
      width: 0;
    }
  }
  .imgDiv {
    @apply bg-cover bg-center;
  }
  .imgDiv > img {
    @apply object-top object-cover opacity-100;
    transition: opacity 200ms ease-in-out;
  }
  .no-animation {
    animation: none;
  }
  .flex-center {
    @apply flex items-center gap-2;
  }
  .flex-between {
    @apply flex-center justify-between;
  }
  .animate-bg {
    animation: grow 0.7s ease-in-out infinite alternate;
  }
  @keyframes grow {
    from {
      box-shadow: none;
    }
    to {
      box-shadow: 0 0 10px #60a5fa;
    }
  }
}
